<h2>{{model.question}}</h2>
<h4>by {{model.author}} on {{model.date}}</h4>
<h5>Tags: {{model.notes}}</h5>

{{edit-question model=model editQuestion="editAtQuestionRoute"}}
<br>

<div class="answerList">
  <h4>Answers</h4>
  <ul>
    {{#each model.answers as |answer|}}
      <li>{{answer.content}} by {{answer.author}}</li>
    {{/each}}
  </ul>

  {{add-answer save="save" question=model}}
</div>
